<h1> Simple Calculator</h1>
<a href="/"> My Home </a>
<form action="calculate">
<label for='Integer1'>Integer 1</label><br>
<input type="text" id="Integer1" name="Integer1"><br>
<label for='Integer2'>Integer 2</label><br>
<input type="text" id="Integer2" name="Integer2"><br>
<label for='operator'>Operator</label><br>
<select name='operator' id='operator'>
	<option value='+'>+</option>
	<option value='-'>-</option>
	<option value='*'>*</option>
	<option value='/'>/</option>
</select>
<br>
<br>
<br>
<input type='submit' value='CALCULATE'>
</form>